
*.prefs

.settings/.jsdtscope

*.sh

build/classes/ejml-0.23.jar

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

build/classes/jollyday.jar

build/classes/javax.json.jar
