
*.prefs

.settings/.jsdtscope

*.sh

build/classes/ejml-0.23.jar

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

build/classes/jollyday.jar

build/classes/javax.json.jar

build/classes/joda-time.jar

build/classes/protobuf.jar

build/classes/slf4j-api.jar

build/classes/stanford-corenlp-3.6.0-models.jar

build/classes/stanford-corenlp-3.6.0.jar

build/classes/xom.jar

libs/ejml-0.23.jar

libs/javax.json.jar

libs/joda-time.jar

libs/jollyday.jar

libs/protobuf.jar

libs/slf4j-api.jar

libs/stanford-corenlp-3.6.0-models.jar

libs/stanford-corenlp-3.6.0.jar

libs/xom.jar

WebContent/WEB-INF/lib/ejml-0.23.jar

WebContent/WEB-INF/lib/javax.json.jar

WebContent/WEB-INF/lib/joda-time.jar

WebContent/WEB-INF/lib/jollyday.jar

WebContent/WEB-INF/lib/protobuf.jar

WebContent/WEB-INF/lib/slf4j-api.jar

WebContent/WEB-INF/lib/stanford-corenlp-3.6.0-models.jar

WebContent/WEB-INF/lib/stanford-corenlp-3.6.0.jar

WebContent/WEB-INF/lib/xom.jar

WebContent/WEB-INF/lib/hamcrest-core-1.3.jar

WebContent/WEB-INF/lib/junit-4.12.jar

WebContent/WEB-INF/lib/mockito-all-1.10.19.jar

WebContent/WEB-INF/lib/mockito-core-2.0.44-beta.jar

build/classes/hamcrest-core-1.3.jar

*.jar
